<h1>Inventories page</h1>
<%= link_to 'Create new inventory', new_user_inventory_path(params[:user_id]), class:'btn btn-success btn-sm' %>
<ul>
  <% @inventories.each do |inventory| %>
   <li>
    <div>
      <h2><%= inventory.name%><h2>
      <% if can? :destroy, inventory %>
        <%= link_to 'Remove', { :controller=>:inventories,:action=>:destroy, :id=>inventory.id }, :method=>:delete, class:'btn btn-danger btn-sm' %>
      <% end %>
    </div>
      <p><%= inventory.description %><h2>
   </li> 
   <% end %>
  </ul>