<%= form_with model: @recipe, url: user_recipe_path(@recipe), method: :patch, local: true do |form| %>
 <div class="custom-control custom-switch">
 <%= form.check_box :public, class: "custom-control-input", id: "customSwitch1" %>
   <label class="custom-control-label" for="customSwitch1">Public</label>
 </div>
 <div class="actions btn btn-">
      <%= form.submit "Submit status" %>
 </div>
<% end %>
