<div class="px-4 "><%= link_to 'Create a new Recipe', new_user_recipe_path, class: "btn btn-primary btn-sm btn-block my-3" %></div>
<div class="container h-100 w-50">

  <div class="columns is-flex-direction-column is-align-items-center">
    <% @recipes.each do |recipe| %>
      <%= render partial: 'recipe', object: recipe %>
    <% end %>
  </div>
</div>


