<tr>
    <td><%= food.name %></td>
    <td><%= food.measurement_unit %></td>
    <td><%= food.price %></td>
    <td class="d-flex justify-content-center">
        <%= button_to user_food_path(current_user, food), method: :delete, class: "btn btn-danger btn-sm m-1 ps-3 pe-3" do %>
            </span>Delete</span>
        <% end %>
    </td>
</tr>